@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: rgba(12, 12, 12, 1);
}
ul,p {
  margin:0;
}

:root {
  --color-oscuro: rgba(12, 12, 12, 1);
  --color-claro: rgba(165, 135, 99, 1);

}

body {
  background-color: var(--color-claro);
}

.header-logo {
  display: flex;
  flex-flow: row;
justify-content: center;
}



.logo {  width: 128px;
  height: 96px;
  margin-left: 2%;
  margin-right: 2%;
}

.tipo-logo {
  text-align: center;
  color: var(--color-claro);
 }

a {
  color: var(--color-claro);
}

.color-fondo,
.lista {
  background-color: var(--color-oscuro);
}

.cabecera {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.menu {
  display: flex;
  list-style-type: none;
  /* margin:0; */
  flex-flow: row wrap;
  padding: 2% 2% 2% 2%;
  justify-content: flex-end;
}
.lista{margin-left: 1%;
margin-right: 1%;}

.seccion-1,
.seccion-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}

.carrusel-custom {
  width: 400px;
  height: 600px;
  margin: 20px;
}

.img-bordes{
  border: solid 2px var(--color-oscuro);
}

/* .seccion-2 {
  justify-content: space-evenly;
} */

.caja-texto {
  display: flex;
  width: 560px;
  height: 315px;
  margin: 20px 20px 20px 20px;
  flex-wrap: wrap;
  text-align: center;
}

.titulo {
  width: 560px;
  font-size: 40px;
  text-align: center;
  text-shadow: antiquewhite, 1px;
}


.caja-imagen {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 440px;
  height: 300px;
  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.imagen-beer {
  width: 400px;
  height: 200px;
}

.imagen-beer:hover {
  width: 500px;
  height: 300px;
}

.boton-beer {
  background-color: var(--color-oscuro);
  color: var(--color-claro);
  width: 80px;
  border-radius: 15px;
  border: none;
}

.boton-beer:hover {
  background-color:var(--color-claro);
  color: var(--color-oscuro)
}

.estilo-footer{
  display: flex;
  flex-flow: row;
  background-color: var(--color-oscuro);
  justify-content: flex-start;
}

.footer-logo {
  display: flex;
  flex-flow: row;

}

.rrss {
   display: flex;
  flex-flow: row;
  justify-content: end; 
  height: 64px;
  width: 128px;
}

/* Color Theme Swatches in RGBA 
colores que voy a usar
.Russian-Imperial-Stout-1-rgba { 
  color: rgba(216, 149, 67, 1); 
}
.Russian-Imperial-Stout-2-rgba {
  color: rgba(165, 135, 99, 1);
}
.Russian-Imperial-Stout-3-rgba {
  color: rgba(89, 55, 26, 1);
}
.Russian-Imperial-Stout-4-rgba {
  color: rgba(165, 97, 72, 1);
}
.Russian-Imperial-Stout-5-rgba {
  color: rgba(12, 12, 12, 1);
}*/