@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: rgb(12, 12, 12);
}

ul,
p {
  margin: 0;
}

body {
  background-color: rgb(165, 135, 99);
}

.color-fondo {
  background-color: rgb(12, 12, 12);
}

.cabecera {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}
.cabecera .header-logo {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.cabecera .header-logo .logo {
  width: 128px;
  height: 96px;
  margin-left: 2%;
  margin-right: 2%;
}

.menu {
  display: flex;
  list-style-type: none;
  /* margin:0; */
  flex-flow: row wrap;
  padding: 2% 2% 2% 2%;
  justify-content: flex-end;
}
.menu .lista {
  margin-left: 1%;
  margin-right: 1%;
  background-color: rgb(12, 12, 12);
}
.menu .lista a {
  color: rgb(165, 135, 99);
}

.estilo-footer {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  /* grid-template-rows: 96px; */
  background-color: rgb(12, 12, 12);
}
.estilo-footer .footer-logo {
  /* grid-column: 1/2;
    grid-row: 1/2; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.estilo-footer .footer-logo .logo {
  width: 128px;
  height: 96px;
  margin-left: 2%;
  margin-right: 2%;
}
.estilo-footer .rrss {
  /* grid-column: 2/3;
  grid-row: 1/2; */
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 5%;
}
.estilo-footer .rrss .imagen-rrss {
  height: 64px;
  width: 128px;
}

.seccion-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 7%;
  margin-top: 7%;
}
.seccion-1 .caja-texto {
  display: flex;
  width: 560px;
  flex-direction: column;
  align-self: center;
}
.seccion-1 .caja-texto .titulo-seccion-1 {
  font-size: 4rem;
  text-align: center;
  animation-name: titulo;
  animation-duration: 6s;
  animation-iteration-count: initial;
}
@keyframes titulo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    font-size: 6rem;
  }
  100% {
    opacity: 1;
    font-size: 8rem;
  }
}
.seccion-1 .caja-texto .parrafo-seccion-1 {
  font-size: larger;
  text-align: center;
}
.seccion-1 .carrusel-custom {
  width: 400px;
  height: 600px;
  margin: 20px;
}
.seccion-1 .carrusel-custom .img-bordes {
  border: solid 2px rgb(12, 12, 12);
}

.seccion-2 {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: rgb(216, 149, 67);
}
.seccion-2 .titulo-seccion-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.seccion-2 .titulo-seccion-2 .titulo-h2 {
  font-size: 3rem;
  text-transform: capitalize;
  color: rgb(89, 55, 26);
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.seccion-2 .grupo-tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.seccion-2 .grupo-tarjetas .card {
  margin: 1%;
  margin-top: 0;
  border: solid 2px rgb(12, 12, 12);
}
.seccion-2 .grupo-tarjetas .card .card-body {
  background-color: rgb(165, 135, 99);
}
.seccion-2 .grupo-tarjetas .card .card-body .card-title {
  font-size: 2rem;
  font-weight: bold;
}
.seccion-2 .grupo-tarjetas .card .card-body .card-text {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

.list-group-item {
  background-color: rgb(165, 97, 72);
  border: solid 1px rgb(12, 12, 12);
  font-weight: bold;
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: 100%;
}

.conteiner-brew-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5% 5% 5% 5%;
  font-size: 4rem;
}

.conteiner-brew {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  /* width: 100vw; */
  margin: 5% 5% 5% 5%;
  row-gap: 10px;
  column-gap: 10px;
}
.conteiner-brew .caja-brew {
  border: solid black 2px;
  /* border-radius: 10%; */
  background-size: cover;
}
.conteiner-brew .caja-brew:hover {
  transform: scale(1.2, 1.2);
  transition: all 2s;
}
.conteiner-brew .caja-brew .conteiner-brew-texto {
  font-size: 1rem;
  font-weight: bold;
  /* background-color: var(--color-trigo); */
  background: linear-gradient(78deg, rgba(165, 97, 72, 0.7) 15%, rgba(215, 148, 67, 0.7) 62%, rgba(216, 149, 67, 0.82) 84%);
  padding: 1% 1% 1% 1%;
}
.conteiner-brew .malta {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../img/cebada.jpg);
}
.conteiner-brew .lupulo {
  grid-column: 1/2;
  grid-row: 3/4;
  background-image: url(../img/lupuo.jpg);
}
.conteiner-brew .levadura {
  grid-column: 1/2;
  grid-row: 4/5;
  background-image: url(../img/levadura-cerveza.jpg);
}
.conteiner-brew .agua {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../img/Agua.jpg);
}
.conteiner-brew .coccion {
  grid-column: 2/4;
  grid-row: 1/3;
  background-image: url(../img/coccion.jpg);
}
.conteiner-brew .fermentacion {
  grid-column: 2/4;
  grid-row: 3/5;
  background-image: url(../img/fermentacion.jpg);
}
.conteiner-brew .embarrilado {
  grid-column: 4/5;
  grid-row: 1/3;
  background-image: url(../img/embarrilado.jpg);
}
.conteiner-brew .despacho {
  grid-column: 4/5;
  grid-row: 3/5;
  background-image: url(../img/despacho.jpg);
}

form {
  width: 100%;
  height: 100vh;
  background-color: rgba(227, 184, 168, 0.881);
  background-image: linear-gradient(rgba(227, 184, 168, 0.881), rgba(245, 241, 239, 0.6)), url(../img/keyboard.jpg);
  padding: 30px;
}
form .titulo-contacto {
  text-align: center;
  font-size: 40px;
  text-transform: upercase;
  text-decoration: underline rgb(216, 149, 67);
}
form input {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid rgb(12, 12, 12);
}
form input::placeholder {
  color: rgb(216, 149, 67);
}
form textarea {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid rgb(12, 12, 12);
}
form .boton-enviar {
  background-color: rgb(216, 149, 67);
  font-size: 25px;
  border: 4px solid rgb(12, 12, 12);
  padding: 10px;
}

.historia-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: url(../img/historia1.jpg);
  background-size: cover;
}
.historia-titulo .historia-titulo-h1 {
  font-size: 3rem;
  color: rgb(165, 135, 99);
}

.historia-seccion-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.historia-seccion-2 .historia-articulo {
  width: 800px;
}

/* estilos de la página de estilos */
.main-estilos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-estilos h1 {
  font-size: 3rem;
  font-weight: bold;
}
.main-estilos .conteiner-estilos-cervezas {
  display: grid;
  grid-template-columns: 200px 600px;
  grid-template-rows: 300px 300px;
  column-gap: 10px;
  row-gap: 10px;
}
.main-estilos .conteiner-lager {
  grid-row: 1/2;
  grid-column: 1/2;
  border: solid 2px rgb(89, 55, 26);
  background-color: rgb(216, 149, 67);
}
.main-estilos .conteiner-ale {
  grid-row: 2/3;
  grid-column: 1/2;
  border: solid 2px rgb(89, 55, 26);
  background-color: rgb(165, 97, 72);
  color: rgb(12, 12, 12);
}

.menu-estilos li a {
  color: rgb(12, 12, 12);
}

.conteiner-estilos-lager {
  grid-row: 1/2;
  grid-column: 2/3;
  border: solid 2px rgb(89, 55, 26);
  background-color: rgb(216, 149, 67);
}

.conteiner-estilos-ale {
  grid-row: 2/3;
  grid-column: 2/3;
  border: solid 2px rgb(89, 55, 26);
  background-color: rgb(165, 97, 72);
}

.texto-ale,
.texto-lager {
  font-size: 2.5rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}

.conteiner-contenido-estilos {
  width: 800px;
}
.conteiner-contenido-estilos .descripcion-estilo {
  margin: 5% 5% 5% 5%;
  border: solid 3px rgb(165, 97, 72);
  padding: 5% 5% 5% 5%;
  border-radius: 5px;
}
.conteiner-contenido-estilos .descripcion-estilo .descripcion-estilo-metricas {
  width: 300px;
  padding-left: 15px;
  background: linear-gradient(78deg, rgba(165, 97, 72, 0.7) 15%, rgba(215, 148, 67, 0.7) 62%, rgba(216, 149, 67, 0.82) 84%);
  animation-name: metricas;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes metricas {
  0% {
    background: linear-gradient(78deg, rgba(165, 97, 72, 0.7) 1%, rgba(215, 148, 67, 0.7) 10%, rgba(216, 149, 67, 0.82) 15%);
  }
  50% {
    background: linear-gradient(78deg, rgba(165, 97, 72, 0.7) 8%, rgba(215, 148, 67, 0.7) 30%, rgba(216, 149, 67, 0.82) 40%);
  }
  100% {
    background: linear-gradient(78deg, rgba(165, 97, 72, 0.7) 15%, rgba(215, 148, 67, 0.7) 62%, rgba(216, 149, 67, 0.82) 84%);
  }
}

/* .descripcion-estilo-sinopsis{
    display: flex;
    flex-direction: column;
  } */
hr {
  color: rgb(12, 12, 12);
  border-color: rgb(12, 12, 12);
  height: 2px;
}

span {
  color: rgb(89, 55, 26);
  /* text-shadow: 1px 1px 1px var(--color-oscuro); */
  text-transform: uppercase;
  font-weight: bold;
}

/* media query */
@media screen and (max-width: 600px) {
  .cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .seccion-2 .grupo-tarjetas {
    flex-direction: column;
    align-items: center;
  }
  .titulo-h2 {
    font-size: 2rem;
  }
  .conteiner-brew-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    font-size: 1rem;
  }
  .conteiner-brew {
    display: grid;
    grid-template-rows: repeat(8, 300px);
    grid-template-columns: 1fr;
    height: 100%;
    margin: 0;
  }
  .conteiner-brew .caja-brew:hover {
    transform: none;
    transition: none;
  }
  .conteiner-brew .agua {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .conteiner-brew .malta {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .conteiner-brew .lupulo {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .conteiner-brew .levadura {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .conteiner-brew .coccion {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .conteiner-brew .fermentacion {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .conteiner-brew .embarrilado {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .conteiner-brew .despacho {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .main-estilos .conteiner-estilos-cervezas {
    grid-template-columns: 100px 200px;
    grid-template-rows: 300px 300px;
    column-gap: 5px;
    row-gap: 5px;
  }
  .conteiner-contenido-estilos {
    width: 300px;
  }
  .conteiner-contenido-estilos .descripcion-estilo .descripcion-estilo-metricas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
  }
  .historia-titulo {
    width: 300px;
    height: 200px;
    background-image: none;
  }
  .historia-titulo .historia-titulo-h1 {
    font-size: 2rem;
    color: rgb(12, 12, 12);
  }
  .historia-seccion-2 .historia-articulo {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
