.estilo-footer {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  /* grid-template-rows: 96px; */
  background-color: $color-oscuro;

  .footer-logo {
    /* grid-column: 1/2;
      grid-row: 1/2; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    .logo {
      width: 128px;
      height: 96px;
      margin-left: 2%;
      margin-right: 2%;
    }
  }

  .rrss {
    /* grid-column: 2/3;
    grid-row: 1/2; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 5%;

    .imagen-rrss {
      height: 64px;
      width: 128px;
    }
  }
}