.historia-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  background-image: url(../img/historia1.jpg);
  background-size: cover;

  .historia-titulo-h1 {
    font-size: 3rem;
    color: $color-claro;
  }
}



.historia-seccion-2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  .historia-articulo {

    width: 800px;
  }
}